@model dynamic

@{
    ViewBag.Title = "Password Change";

}
<div class="row">
    <div class="col-md-12 panel panel-success">
        
        <div class="panel-heading">
            <strong><i class="fa fa-check" aria-hidden="true"></i>  Password Change Success </strong>
            @Html.ActionLink(" Go to home", "Index", "Home", null, new { @class = "btn btn-default fa fa-home  pull-right" })
        </div>
        <p class="text-success text-center">Your Password has been successfully changed</p>
    </div>
</div>

